body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.menu {

    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.name {
    display: block;
    font-size: 16px;
    font-weight: 800;
}

.discription {
    margin-left: 9px;
}

.avatar {
    width: 57px;
    height: 57px;
    background-image: url(https://pp.userapi.com/c846217/v846217367/c03a0/YR6c3rlwfrY.jpg);
    background-size: 180%;
    border-radius: 50%;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list a {
    display: inline-block;
    text-decoration: none;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 34px;
}

.menu-list a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #2b2a2c;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

.menu-list a:hover:after,
.menu-list a:focus:after {
    width: 100%;
}

.menu-button {
    text-transform: uppercase;
    font-weight: 800;
    background-color: transparent;
    font-size: 14px;
    border: 2px solid #2b2a2c;
    border-radius: 19px;
    padding: 13px 22px;
}

.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background: url(http://www.picshare.ru/uploads/190126/qQoGsVK973.jpg) no-repeat right bottom;

}

.hero-subtitle {
    font-size: 32px;
}

.hero-title {
    font-size: 45px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hero-description {
    font-size: 18px;
    color: #6a696b;
}

.hero-social {
    margin-top: 30px;
}

.social {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    line-height: 41px;
}

.behance-bg {
    background-color: #1869ff;
}

.facebook-bg {
    background-color: #3a5898;
}

.instagram-bg {
    background-color: #13578a;
}

.vk-bg {
    background-color: #56acef;
}

.hero-buttons {
    margin-top: 40px;
}

.button {
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    background-color: #2b2a2c;
    border-radius: 50px;
    padding: 20px 34px;
    display: inline-block;
}

.button-primary {
    color: #fff;
    margin-right: 17px;
    margin-bottom: 10px;
}

.button-o {
    background-color: transparent;
    color: #6a696b;
    border: 1px solid #6a696b;
}

.projects {
    padding: 97px 0;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.project-link {
    display: block;
    text-decoration: none;
    color: black;
}

.project-card {
    min-height: 370px;
    width: 370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    margin-right: 15px;
}

.project-card_image {
    height: 300px;
}



.project-card_info {
    padding: 19px 13px;

}

.project-category {
    display: block;
    font-size: 12px;
    color: #2b2a2c;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #2b2a2c;
    font-weight: 800;
    margin-top: 10px;
}

.tribute-page {
    background: url("http://www.picshare.ru/uploads/190126/mIg5IyT109.jpg") center no-repeat;
    background-size: cover;
}

.survey-form {
    background: url("http://www.picshare.ru/uploads/190130/4xA9hvOKlo.jpg") center no-repeat;
    background-size: cover;
}

.landing-page {
    background: url("http://www.picshare.ru/uploads/190130/V6KLv4V4z7.jpg") center no-repeat;
    background-size: cover;
}

.technical-documentation-page {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.portfolio-webpage {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.palindrome-checker {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.roman-numeral-converter {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.caesars-cipher {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.telephone-number-validator {
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    font-weight: 800;
}

.footer {
    background-color: #2b2a2c;
    padding: 20px 0;
    color: #8d8d8e;
}

.footer a {
    color: #8d8d8e;
    text-decoration: none;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    align-items: center;
}

.copyright {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid #413f41;
    font-size: 14px;
}

.footer-social_link {
    font-size: 20px;
    margin-right: 13px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-menu a {
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
}

.footer-button {
    background-color: transparent;
    font-size: 14px;
    border: 2px solid #8d8d8e;
    border-radius: 19px;
    padding: 8px 22px;
}

@media (max-width: 1200px) {
    .container {
        width: 965px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 760px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .menu-list a {
        display: none;
    }
    .descriprion_small {
        width: 95%;
    }
    .hero {
        padding-bottom: 550px;
        padding-top: 30px;
    }
}